@font-face {
    font-family: 'GyeonggiTitleM';
    src: url('../font/경기천년제목_Medium.ttf');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'GyeonggiTitleM' !important;
}

.siteHeader {
    margin: 20px;
    height: 150px;
}

.siteMenu {
    flex-direction: row-reverse;
    justify-content: flex-start;
    margin: 20px;
    height: 50px;
}

.siteMenu2 {
    flex-direction: row-reverse;
    justify-content: flex-start;
    margin: 5px;
    height: 20px;
}
.siteMenu3 {
    flex-direction: row;
    height: 45px;
}

.loginMenu {
    margin-left: 10px;
}

.loginDiv {
    width: 30%;
    margin: 0 auto;
}
.myPageDiv {
    width: 30%;
    margin: 30px;
}
.gridTd {
    padding: 10px;
    border: 1px solid black;
}
.stockGrid {
    margin: 20px;
    width: 320px;
    height: 400px;
}
.stockGrid2 {
    margin: 20px;
    width: 320px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.stockTitle {
    margin: 20px;
}
.stockDiv {
    display: flex;
    justify-content: center;
}
.btnGridZone {
    width: 180px;
    display: flex;
    justify-content: center;
    margin: 0px 20px;
}
#gridDiv2 {
    margin-left: 40px;
}
#gridTable {
    width: 100%;
}
#myGridTable {
    width: 100%;
}
#gridDiv {
    margin: 20px;
}
.chkBox {
    margin: 10px;
}
.loginBtn {
    margin-top: 20px;
}

.searchBar {
    width: 720px;
    border: 1px solid black;
    border-radius: 40px;
    height: 60px;
    padding: 5px 20px;
}
#searchText {
    width: 680px;
    height: 40px;
    margin-right: 5px;
    border: none;
}
#searchBtn {
    background-color: white;
    width: 40px;
    height: 40px;
    border: none;
}
input:focus {
    outline: none;
}
.searchImage {
    width: 100%;
    height: 90%;
}
.loginIcon {
    width: 100%;
    height: 100%;
}
.autoComplete {
    width: 720px;
}
.outerDiv {
    position: relative;
    width: 60%;
    margin: 0 auto;
}
.searchBarDiv {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
}
.searchUlDiv {
    position: absolute;
    z-index: 10;
    width: 100%;
    top: 60px;
    left: 0px;
}
.predictDiv {
    flex-direction: column;
    position: absolute;
    top: 120px;
    left: 0px;
    right: 0px;
    border: 1px solid lightgrey;
    border-radius: 30px;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
}
.searchUl {
    width: 100%;
    padding: 0px;
    position: relative;
}
.searchLi {
    list-style: none;
    padding: 10px;
    background-color: white;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: black;
    width: 100%;
}

.link {
    color: inherit;
}
a.link:hover {
    color: black;
}
.headerText {
    font-family: cursive;
    font-size: 70px;
}
.keyword {
    font-size: 30px;
}
.keywordStr {
    font-size: 20px;
}
.predictResult {
    font-size: 50px;
    color: red;
}
